@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.react-aria-ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--visual-viewport-height);
  background: rgba(0 0 0 / 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.react-aria-ModalOverlay[data-entering] {
  animation: modal-fade 200ms;
}

.react-aria-ModalOverlay[data-exiting] {
  animation: modal-fade 150ms reverse ease-in;
}

@keyframes modal-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
